*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #161513;
    color: white;
}
.nav-logo{
    color: white;
    border-radius: 70%;
    height: 50px;
}
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
 }
 .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
 }
 .nav-connect{
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(274deg,#DA7C25 0.36% ,#B923E1 102.6%);
    font-size: 16px;
    font-weight: 500;
    transition: 0.6s;
 }
 .nav-connect:hover{
    transform: scale(1.05);
 }